# Dependencies
node_modules/
.pnp
.pnp.js

# Build Outputs
dist/
build/
out/
.next/
web-build/
*.tsbuildinfo

# Expo / Mobile
.expo/
.expo-shared/
*.jks
*.p12
*.key
*.keystore
*.mobileprovision

# Android Native
apps/mobile/android/.gradle/
apps/mobile/android/app/build/
apps/mobile/android/build/
apps/mobile/android/local.properties
apps/mobile/android/*.iml
apps/mobile/android/*.hprof

# iOS Native (if added later)
apps/mobile/ios/build/
apps/mobile/ios/Pods/
apps/mobile/ios/*.xcworkspace
apps/mobile/ios/*.xcuserstate

# Environment / Secrets
.env
.env.prod
.env.local
.env.development.local
.env.test.local
.env.production.local
*.pem

# Prisma
/packages/prisma/generated/

# Debug Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# System Files
.DS_Store
.DS_Store?
._*
Thumbs.db
desktop.ini

# IDEs
.vscode/
.idea/
*.swp
*.swo
